@font-face{
    font-family: "LeMurmure";
    src: url("../fonts/Le_Murmure-Regular_web.otf");
}

@font-face {
    font-family: "Basier";
    src: url("../fonts/basiersquaremono-regular-webfont.woff");
}

html{
    background: #E7E5E1;
    color: #000000;
    font-family: Basier;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

h1, h2{
    font-family: "LeMurmure";
        font-size: 98px;

}

h3{
    font-family: "Basier";
        font-size: 44px;
}

h4{
    font-family: "Basier";
    font-size: 36px;
}

p{
    font-size: 14px;
}

button:hover, a:hover{
    cursor: pointer;
}

.mainContainer{
    height: auto;
    margin: 0 26px;
}

.header{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu{
    margin-top: 0;
}

.projectPres{
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 80px 0;
    padding: 18px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.startButton{
    display: inline-block;
    background: #FFBE85;
    color: #21253C;
    border: none;
    font-size: 24px;
    padding: 8px 31px;
    border-radius: 15px;
    margin: 0 auto;
}

.dataBlock{
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    padding: 16px;
}

.dataBlockImg{
    max-width: 40vw;
}

.dataBlockContent{
    padding: 0 20px;
}

.dataTitle{
    text-align: center;
}

.dataBlockTitle{
    height: 640px;
}

.doughnutContainer {
    display: flex;
}

.doughnutContainer .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 4% 4%;
    border: 1px solid black;
    width: 40%;
}

.doughnut {
    padding: 2px 4% 4%;
    border: 1px solid black;
    max-width: 60%;
}

.doughnut h4 {
    text-align: center;
}
.cloudContainer {
    border: 1px solid black;
    padding: 4%;
}

.cloudContainer .input {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.word-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word-cloud span {
    margin: 5px;
}

.bar-charts {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin: 135px 0;
}

.bar-charts canvas {
    height: 400px;
    max-width: 50%;
    border: 1px solid black;
    padding: 2%;
    border-radius: 10px;
}

canvas {
    max-width: 800px;
    max-height: 400px;
}



footer{
    background: #FFBE85;
    margin-top: 200px;
    border: 1px solid #000000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerContainer{
    display: flex;
    flex-direction: column;
}

.topFooterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerTitle{
    width: 50vw;
    text-align: center;
}

.containerContent{
    width: 50vw;
    text-align: center;
}

.contactContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactButton{
    display: block;
    background: #21253C;
    color: #FFBE85;
    border: none;
    font-size: 24px;
    padding: 8px 31px;
    border-radius: 15px;
    margin: 0 auto;
}

.footerFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 180px;
    margin-top: 50px;
}

.footerSeparator{
    width: 1px;
    height: 100%;
    background: #21253C;
}